# SRS 5 configuration for live.afsmc.cn v2
# RTMP ingest + HTTP-FLV + HLS + WebRTC

listen              1935;
max_connections     1000;
daemon              off;
srs_log_tank        console;

http_server {
    enabled         on;
    listen          8080;
    dir             ./objs/nginx;
}

http_remux {
    enabled         on;
    mount           [vhost]/[app]/[stream].flv;
    hstrs           on;
}

vhost __defaultVhost__ {
    hls {
        enabled         on;
        hls_path        ./objs/nginx/html;
        hls_fragment    2;
        hls_window      10;
    }

    rtc {
        enabled         on;
        nack            on;
        twcc            on;
        rtmp_to_rtc     on;
    }

    http_remux {
        enabled         on;
    }

    play {
        gop_cache       on;
        queue_length    10;
        time_jitter     full;
    }

    publish {
        chunk_size      60000;
    }

    gzip on;
}

http_api {
    enabled         on;
    listen          1985;
    auth {
        enabled     off;
    }
}

stats {
    network        0;
}

rtc_server {
    enabled         on;
    listen          8000;
    candidate       $CANDIDATE;
}
